<h3>Title: <%= @current_survey.title %></h3>

<form id="question_form" action="" method="POST">
  <div id='choices'>
    <div><span class='label'>question</span>: <input type="text" name="question1"></div><br>
    <div><span class='label'>choice</span>: <input type="text" name="choice1"></div>
  </div>
  <button class='button' id="add_choice">add a choice</button>
  <input class='button' type="submit" value="save question"><br>
  <div class='link-button'>
    <a class='button' id="finish-survey-button"  href="/survey/<%= @current_survey.id %>/finish">Finish Survey</a>
  </div><br>
</form>

<span class="hidden" id="hidden_id"><%= @current_survey.id %></span>

