<h3>Available Surveys</h3>


  <div class="survey-list">
    <ul>
      <% @all_surveys.each do |survey| %>
        <% unless @user && @user.id == survey.user_id %>
          <li>
            <a href="/survey/<%=survey.id%>"><%=survey.title%></a><br>
            <div class="author">-by <%= survey.user.username %></div>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
