<h2>create a survey!</h2>

<form action="/survey/new" method="POST">
  title: <input type="text" name="title">
  <input type="submit" value="create!">
</form>

<!-- enter a title
how many questions
how many choices
etc -->
