<h3>Create a survey!</h3>

<form action="/survey/new" method="POST">
  <p><span>What do you want your survey to be called?</span></p>
  <input type="text" name="title">
  <input type="submit" value="Next!">
</form>

<!-- enter a title
how many questions
how many choices
etc -->
