<h3>Incomplete Survey: <%= @survey.title %></h3>
<p><span>Your progress so far...</span></p>

<ol>
  <% index = 0 %>
  <% @questions.each do |question| %>
    <li>
      <%= question.survey_question %><br>
      <% index += 1 %>
      <ul>
        <% question.choices.each do |choice| %>
          <li><%= choice.survey_choice %></li>
        <% end %>
      </ul>
      <br>
    </li>
  <% end %>
</ol>

<div class="link-button">
  <a class='button'  href="/survey/<%= @survey.id %>/questions">Add question</a>
</div>
