<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <div class="container">
    <div class='sidebar'>
      <div id='logo'>
        <h1><a href='/'>Survey Bab<span>oo</span>n</a></h1>
      </div>

      <% if session[:user_id] %>
        <p id='greeting'>Hello <span><%= User.find(session[:user_id]).username %></span>!</p>
        <nav>
          <ul>
            <li><a href="/surveys">Take Surveys</a></li>
            <li><a href="/survey/new">Create Survey</a></li>
            <li><a href="/users/<%= session[:user_id] %>">My Profile</a></li>
            <li><a href='/logout'>Log out</a></li>
          </ul>
        </nav>
      <% else %>
        <p id='greeting'><span>Welcome!</span></p>
        <nav>
          <ul>
            <li><a id="login" href="#">Log in</a></li>
            <div class='hiddiv' id='hidden_login'>
              <form action="/login" method="post">
                Username: <input type='text' name='username'><br>
                Password: <input type='password' name='password'><br>
                <input type='submit' value='Log in'>
              </form>
            </div>
            <li><a id="signup" href="#">Sign up</a></li>
            <div class='hiddiv' id='hidden_signup'>
              <form action="/signup" method="post">
                Username: <input type='text' name='username'><br>
                Password: <input type='password' name='password'><br>
                <input type='submit' value='Sign up'>
              </form>
            </div>

          </ul>
        </nav>
      <% end %>

    </div>




    <div class="main">
      <%= yield %>
    </div>
  </div>
</body>
</html>
