<br>
<a href="/survey/new">Create New Survey</a>

<h3>Your Survey (<%= @user.username %>)</h3>

<% @surveys.each do |survey| %>
  <ul>
    <li><%=survey.title%></li><a href="/survey/<%= survey.id %>/results">View</a><br>
  </ul>
<% end %>
