<h3>My Surveys</h3>
<p><span>Click on a survey to view its results!</span></p><br>
<div class="survey-list">
  <ul>
    <% @surveys.each do |survey| %>
      <li><a href="/survey/<%= survey.id %>/results"><%=survey.title%></a></li>
    <% end %>
  </ul>
</div>
