<h2><%= @current_survey.title %></h2>

<form id="question_form" action="" method="POST">
  <div id='choices'>
    <div>question: <input type="text" name="question1"></div>
    <div>choice: <input type="text" name="choice1"></div>
  </div>
  <button id="add_choice">add a choice</button><br>
  <input type="submit" value="next question">
  <a href="/survey/<%= @current_survey.id %>/finish">finish survey</a><br>
</form>

<span class="hidden" id="hidden_id"><%= @current_survey.id %></span>

