<div class="container">

  <h2><%= @current_survey.title %></h2>



  <form action="" method="POST">
    question: <input type="text" name="question1">
    choice: <input type="choice" name="choice1">

  </form>

  <button id="add_choice" value="add choice"></button>
  <button id="submit_survey" value="done"></button>


</div>
