<h2><%= @current_survey.title %></h2>

<form id="question_form" action="" method="POST">
  <div id='choices'>
    <span>question: <input type="text" name="question1"><br></span>
    <span>choice: <input type="text" name="choice1"></span>
  </div>
  <button id="add_choice">add a choice</button><br>
  <input type="submit" value="next question">
  <button id="finish">finish survey</button><br>
</form>

<span class="hidden" id="hidden_id"><%= @current_survey.id %></span>

