<h3>Results for <i><%= @survey.title %></i> Survey</h3>

<div class='survey_results'>
  <ol>
    <% @questions.each do |question| %>
      <li><span><%= question.survey_question %></span></li>
      <ul>
        <% question.choices.order('tally DESC').each do |choice| %>
          <li><%= choice.survey_choice %>: <span class='tally'><%= choice.tally %></span></li>
        <% end %>
      </ul><br>
    <% end %>
  </ol>
</div>
